.mainContainer {
  display: flex;
}

input {
  margin-top: 5px;
}

.calculatorContainer {
  border: 1px black;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: 1px;
  margin: 10px;
  padding: 10px;
  height: 400px;
}

.priceError, .discountPercentageError, .quantityError, .shippingCostError {
  height: 40px;
  color: red;
}

.discountandPriceContainer {
  display: flex;
  flex-direction: column;
}

.onePlusOne {
  display: flex;
  align-items: baseline;

}

.onePlusOneFreeItem, .onePlusOnePayedItem {
  width: 50px;
}

.shippingCostContainer {
  height: 80px;
}